<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="layout :: htmlhead" th:with="title='角色管理'">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--头-->
    <!--<div th:replace="fragments/head :: header"></div>-->

    <div style="margin: 10px">

        <form id="userSearch" class="layui-form layui-form-pane" method="post" action="" style="margin-top: 20px;">
            <div class="layui-form-item">
                <label class="layui-form-label">角色编号</label>
                <div class="layui-input-inline">
                    <input id="codeSearch" name="codeSearch" autocomplete="off" class="layui-input" type="text"/>
                </div>
                <label class="layui-form-label">角色名称</label>
                <div class="layui-input-inline">
                    <input id="nameSearch" name="nameSearch" autocomplete="off" class="layui-input" type="text" />
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">添加时间</label>
                        <div class="layui-input-inline" style="width: 175px;">
                            <input  name="createdTimeStart" id="createdTimeStart" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input" type="text"/>
                        </div>
                    <div class="layui-form-mid">-</div>
                        <div class="layui-input-inline" style="width: 175px;">
                            <input name="createdTimeEnd" id="createdTimeEnd" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input" type="text"/>
                        </div>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    <button class="layui-btn"  lay-submit="" lay-filter="searchSubmit">查询</button>
                </div>
            </div>
        </form>

        <!--<hr class="layui-bg-blue"/>-->
        <hr class="layui-bg-black"/>

        <button class="layui-btn layui-btn-normal" onclick="addRole()">添加角色</button>

        <div style="display:none;" id="currentUser"><shiro:principal property="id"></shiro:principal></div>
       <!--  <div style="display:none;" id="currentUser"><shiro:principal property="fid"></shiro:principal></div> -->

        <table id="roleList" lay-filter="roleTable"></table>

        <script type="text/html" id="optBar">
            <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
            <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="setPerm">设置权限</a>
            <!--{{#  if(d.del){ }}-->
            <!--<a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="recover">恢复</a>-->
            <!--{{#  } else { }}-->
            <!--<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>-->
            <!--{{#  } }}-->
        </script>
    </div>

    <!--添加或编辑角色-->
    <div id="setRole" class="layer_self_wrap" style="width:500px;display:none;">
        <form id="roleForm" class="layui-form layui-form-pane" method="post" action="" style="margin-top: 20px;">
            <input id="pageNum" type="hidden" name="pageNum"/>
            <input id="id" type="hidden" name="id"/>
            <div class="layui-form-item">
                <label class="layui-form-label">角色编号</label>
                <div class="layui-input-inline">
                    <input id="bsCode" name="bsCode" lay-verify="required" autocomplete="off" class="layui-input" type="text"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">角色名称</label>
                <div class="layui-input-inline">
                    <input id="bsName" name="bsName" lay-verify="required" autocomplete="off" class="layui-input" type="text"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">角色描述</label>
                <div class="layui-input-inline">
                    <input id="descpt" name="descpt" autocomplete="off" class="layui-input" type="text"/>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block" style="margin-left: 10px;">
                    <button class="layui-btn"  lay-submit="" lay-filter="addSubmit">提交</button>
                    <!--<button type="reset" class="layui-btn layui-btn-primary">重置</button>-->
                </div>
            </div>
        </form>
    </div>

    <!--设置角色权限-->
    <div id="setPerm" class="layer_self_wrap"  style="width:500px;display:none;">
        <form id="permForm" class="layui-form layui-form-pane" method="post" action="" style="margin-top: 20px;">
            <input id="roleId" name="roleId" type="hidden"/>
            <div class="layui-form-item">
                <div class="layui-input-inline">
                    <div id="treeDemo" class="ztree"></div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block" style="margin-left: 10px;">
                    <button class="layui-btn"  lay-submit="" lay-filter="permSubmit">提交</button>
                </div>
            </div>
        </form>
    </div>

    <!--搴曢儴-->
    <!--<div th:replace="fragments/footer :: footer"></div>-->

    <link  th:href="@{/ztree/css/zTreeStyle/zTreeStyle.css}" href="/ztree/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" />
    <script th:src="@{/ztree/js/jquery.ztree.all.min.js}" src="/ztree/js/jquery.ztree.all.min.js" type="text/javascript"></script>
    <script th:src="@{/js/dateUtils.js}" src="/js/dateUtils.js"></script>
    <script th:src="@{/js/auth/roleList.js}" src="/js/auth/roleList.js"></script>
</div>
</body>
</html>