<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="layout :: htmlhead" th:with="title='设置我的密码'"></head>
<body class="layui-layout-body">
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">修改密码</div>
                <div class="layui-card-body" pad15>

                    <div class="layui-form" lay-filter="">
                        <form id="passwordForm">
                            <div class="layui-form-item">
                                <label class="layui-form-label">当前密码</label>
                                <div class="layui-input-inline">
                                    <input type="password" id="oldPassword" name="oldPassword" lay-verify="required" lay-verType="tips" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">新密码</label>
                                <div class="layui-input-inline">
                                    <input type="password" id="password" name="password" lay-verify="pass" lay-verType="tips" autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-form-mid layui-word-aux">6到16个字符</div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">确认新密码</label>
                                <div class="layui-input-inline">
                                    <input type="password" id="rePassword" name="rePassword" lay-verify="rePass" lay-verType="tips" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button class="layui-btn" lay-submit lay-filter="passwordSubmit">确认修改</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use(['table', 'form'], function(){
        var table = layui.table,
            form = layui.form;

        //监听提交
        form.on('submit(passwordSubmit)', function(data){
            //修改密码
            changePass();
            return false;
        });
    });

    //修改密码提交
    function changePass() {
        $.ajax({
            type: "POST",
            data: { "oldPassword":$("#oldPassword").val(), "password":$("#password").val(), "rePassword":$("#rePassword").val() },
            url: "/sysUser/doChangePassword",
            success: function (data) {
                if (data.result == true) {
                    layer.alert("操作成功",function(){
                        //重新登录
                        parent.location.reload();
                    });
                } else {
                    layer.alert(data.msg,function(){
                        cleanPassword();
                        layer.closeAll();
                    });
                }
            }
        });
    }

    //清空数据
    function cleanPassword(){
        $("#oldPassword").val("");
        $("#password").val("");
        $("#rePassword").val("");
    }
</script>
</body>
</html>